<h1>Searching for <%= @search_term %> album</h1>
<table border="1">
  <tr>
    <th>Thumbnail</th>
    <th>Title</th>
    <th>Url</th>
  </tr>
  <% @courses.each do |course| %>
    <tr>
      <td><%= image_tag(course["thumbnailUrl"])%></td>
      <td><%= course["title"] %></td>
      <td><%= course["url"] %></td>
    </tr>
  <% end %>
</table>